.Header_Logo--position{
    grid-area: 1 / 1 / 2 / 2;
}

.Header{
    display: grid;
    grid-template-columns: 4em 1fr;
    grid-template-rows: 4em;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}